/****** CSS GLOBAL ******/
*{
    margin: 0;
    padding: 0;
}
#bloc{
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
}

.link_black{
    text-decoration: none;
    color: #000000;
}

/****** Header page ******/
#header_page{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-left: 25px;
}

#logo{
    display: flex;
}

/*----- Nav -----*/
#header_page nav{
    display: flex;
    align-items: center;
}

#liste_navigation_page{
    display: flex;
}

#liste_navigation_page a {
    margin: 0 10px 0 10px;
}

#liste_navigation_page a[href*="sinscrire"]{
    margin-right: 20px;
    text-decoration: none;
    color: #0065FC;
}

/****** Main ******/
main{
    padding-left: 25px;
}
/****** Recherches et filtres ******/
.recherches_filtres{
    display: flex;
    flex-direction: column;
}

/*----- Recherches -----*/
#barre_recherches{
    display: flex;
    height: 30px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

input[name="recherches"]{
    border: 1px solid #F2F2F2;
    padding-left: 1%;
}
input[name="recherches"]::placeholder{
    color: #000000;
    font-weight: bold;
}

label[for="recherches"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    border-radius: 0 10px 10px 0;
    background: #0065FC;
    color: #FFFFFF;
}

/*----- Filtres -----*/
#filtres{
    display: flex;
    align-items: center;
    height: 30px;
}

#filtres > p{
    margin-right: 15px;
}

#filtres > div {
    display: flex;
}

#filtres > div div{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#filtres > div div i{
    color: #0065FC;
    background: #DEEBFF;
}

#filtres > div div button{
    width: 150px;
    border-style: none;
    border: 1px #F2F2F2 solid;
    border-radius: 0 25px 25px 0;
}

.info_complementaire{
    display: flex;
    align-items: center;
}

.info_complementaire > div{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #F2F2F2 solid;
    border-radius: 50%;
    margin-right: 5px;
}

.fa-info{
    color: #0065FC;
}

/****** Section hebergement ******/
#hebergements{
    display: flex;
    margin-top: 20px;
}

.hebergement_ville, .hebergement_ville_popularite{
    background: #F2F2F2;
    border-radius: 15px;
}

.hebergement_ville{
    width: 60%;
    margin-right: 5%;
    padding: 25px;
}

.hebergement_ville > div {
    display: flex;
    flex-wrap: wrap;
}

.hebergement_ville > div > a{
    border-radius: 10px;
    background: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 5px;
}

.hebergement_ville > div > div div{
    padding: 2px;
} 

.hebergement_ville img {
    width: 300px;
    height: 170px;
}

/****** aside popularites par ville ******/
.hebergement_ville_popularite{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.plus_populaires{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.hebergement_ville_popularite > div {
    display: flex;
    flex-direction: column;
}

.hebergement_ville_popularite > div > div {
    display: flex;
}


.hebergement_ville_popularite img {
    width: 155px;
    height: 180px;
}

/****** Activites ******/
#activites > div {
    display: flex;
}

#activites > div > div {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

#activites > div > div:last-child {
    justify-content: space-around;
}

.une_image{
   /* display: flex;
    flex-direction: column;*/
    width: 50%;
}
/*
.une_image > div {
    height: 100%;
}
*/
.une_image img {
    width: 75%;
    height: 635px;
}
/*
.une_image h3 {
    height: 60px;
    line-height: 60px;
}
*/
.deux_images{
    width: 50%;
}

.deux_images img {
    width: 75%;
}

.deux_images h3 {
    height: 60px;
    line-height: 60px;
}


/* PROVISOIRE 
#activites img {
    width: 250px;
    height: 300px;
}
*/




/****** Footer page ******/
#footer_page{
    display: flex;
    align-items: center;
    width: 100%;
    height: 125px;
    background: #F2F2F2;
}