/****** CSS GLOBAL ******/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Black.ttf');
    src: url('../fonts/Raleway-Regular.ttf');
}

h1{
    font-family: 'Raleway';
    font-size: 1.6em;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

.link_black{
    text-decoration: none;
    color: #000000;
}

/****** Header page ******/  
#header_page{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-left: 25px;
}

#logo{
    display: flex;
    align-items: center;
}

/*----- Nav -----*/
#header_page nav{
    display: flex;
    align-items: center;
}

#liste_navigation_page{
    display: flex;
}

ul#liste_navigation_page {
    height: 100px;
    line-height: 100px;
}

#liste_navigation_page li {
    /* margin: 0 10px 0 10px; */
    border-top: 2px solid #FFF;
    width: 130px;
    padding: 0 15px 0 15px;
}

#liste_navigation_page li:hover {
    border-top: 2px solid #0065FC;
}

#liste_navigation_page a[href*="sinscrire"]{
    margin-right: 20px;
    text-decoration: none;
    color: #0065FC;
}

#liste_navigation_page li {
    text-align: center;
}

/****** Main ******/
main{
    padding-left: 25px;
    padding-right: 25px;
}

/****** Recherches et filtres ******/
.recherches_filtres {
    display: flex;
    flex-direction: column;
}

.recherches_filtres > * {
    margin-top: 15px;
}

/*----- Recherches -----*/
#barre_recherches{
    display: flex;
    height: 50px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

input[name="recherches"]{
    border: 1px solid #F2F2F2;
    padding-left: 1%;
    width: 235px;
    font-weight: bold;
}
input[name="recherches"]::placeholder{
    color: #000000;
    font-weight: bold;
}

label[for="recherches"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    border-radius: 0 10px 10px 0;
    background: #0065FC;
    color: #FFFFFF;
}

/*----- Filtres -----*/
#filtres{
    display: flex;
    align-items: center;
    font-weight: bold;
}

#filtres ul {
    display: flex;
}

#filtres li {
    height: 49px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    border-left: none;
    margin-left: 15px;
    padding-right: 20px;
}

#filtres li:hover {
    color: white;
    background: #0065FC;
}

#filtres .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border: 2px solid #DEEBFF;
    border-radius: 25px;
    font-size: 1.3em;
    margin-right: 15px;
}

.info_complementaire{
    display: flex;
    align-items: center;
}

.info_complementaire > div{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #F2F2F2 solid;
    border-radius: 50%;
    margin-right: 5px;
}

.fa-info{
    color: #0065FC;
}

/****** Section hebergement ******/
#hebergements{
    display: flex;
    margin-top: 20px;
}

#hebergement_ville, #hebergement_ville_popularite{
    background: #F2F2F2;
    border-radius: 15px;
}

#hebergement_ville{
    width: 60%;
    max-width: 60%;
    margin-right: 5%;
    padding: 40px;
}

#hebergement_ville > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

#hebergements a{
    background: #FFFFFF;
    margin-right: 1%;
    margin-bottom: 30px;
    padding: 1%;
    border-radius: 15px;
    flex: 0 0 28%;
}

#hebergement figure {
    display: flex;
    flex-direction: column;
}


#hebergement_ville img {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

#hebergement_ville figcaption > * {
    margin-top: 5px;
}

#hebergement_ville figcaption > div {
    display: flex;
}

.fa-star{
    margin-right: 2px;
}

/****** aside popularites par ville ******/
#hebergement_ville_popularite{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 40px;
}

.plus_populaires{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#hebergement_ville_popularite a {
    margin: 0px;
    width: 100%;
    display: block;
    margin-top: 30px;
}

#hebergement_ville_popularite figure {
    display: flex;
}

/* #hebergement_ville_popularite > div > div {
    display: flex;
} */

#hebergement_ville_popularite img {
    width: 127px;
    height: 135px;
    border-radius: 15px 0 0 15px;
    margin-right: 20px;
}

#hebergement_ville_popularite figcaption {
    width: 139px;
    display: flex;
    flex-direction: column;
}

/****** Activites ******/
#activites {
    margin-top: 60px;
}

#activites > div {
    display: flex;
    margin-top: 20px;
}

#activites > div > div {
    display: flex;
    width: 50%;
    /* justify-content: space-between; */
}

/* #activites > div > div:last-child {
    justify-content: space-around;
} */

#activites img {
    border-radius: 15px 15px 0 0;
}

.une_image, .deux_images {
    width: 300px;
    margin-right: 44px;
}
/*
.une_image > div {
    height: 100%;
}
*/
.une_image a, .deux_images a {
    display: block
}

.une_image img, .deux_images img {
    width: 300px;
}

.une_image img {
    height: 390px;
}

.deux_images a:last-child {
    margin-top: 45px;
}

.grand_cards img {
    /* width: 300px; */
    height: 180px;
}

.petit_cards img {
    height: 110px;
}

.une_image h3 {
    height: 50px;
    line-height: 50px;
}

.deux_images h3 {
    height: 50px;
    line-height: 50px;
}

/****** Footer page ******/
#footer_page{
    display: flex;
    align-items: center;
    width: 100%;
    height: 125px;
    background: #F2F2F2;
}

#footer_page div:first-child {
    margin-left: 40px;
    margin-right: 15%;
}

#footer_page div:last-child {
    margin-left: 25%;
}